<div [ngClass]="seleccionado() ? 'seleccion' : 'noseleccion'">

  <div class="comanda">

    @if (columna()?.esPrimera) {
      <app-encabezado
        [folio]="comanda().id_comanda"
      />
    }

    <div class="contenedor-filas">

      @for (prod of columna()?.displays; track $index) {
        <app-fila-producto
          [datos]="prod"
        />
      }

    </div>

    <!-- <button
      class="boton-seleccionar"
      (click)="seleccionarProducto()"
    >
      Seleccionar
    </button> -->

  </div>

</div>
